:root {
    /* Primary Colors */
    --primary-color: #0056D2;
    /* Modern Vibrant Blue */
    --primary-color2: #2A629A;
    --secondary-color: #FF7F3E;
    --secondary-color2: #FF5A5F;
    /* Soft Coral Red */

    --background-color: #f9f5f0;
    --background-color2: #E1EAFF;
    --text-color: #2C3E50;
    /* Dark Slate Blue for main text */
    --muted-text-color: #5D6D7E;
    /* Muted Steel Gray for subtext */

    --accent-color-light: #e8f5e9;
    --input-bg: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Barlow-Regular";
    src: url(../fonts/Barlow/Barlow-Regular.ttf)
}

@font-face {
    font-family: "Barlow-Bold";
    src: url(../fonts/Barlow/Barlow-Bold.ttf);
}




body {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Barlow-Regular', sans-serif;
    background-color: #FFFFFF;
    color: var(--text-color);

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow-Bold";
    margin: 0;

}



h1 {
    font-size: 64px
}

h2 {
    font-size: 32px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

p {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 20px
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none
}

a:active,
a:focus,
a:hover {
    outline: 0
}

img {
    max-width: 100%;
    height: auto
}

ul {
    list-style: none none;
    margin: 0;
    padding: 0
}


.btn {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    justify-content: center;
    width: max-content;
    margin: auto;
    padding: 6px 20px;
    font-size: 16px;
}

/* Base Button Styles */
.btn-outline-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border: 1px solid;
    padding: 0.5rem 1.5rem;
    /* تحسين الحواف لإعطاء شكل أجمل */
    font-size: 14px;
    margin: 0;
    transition: all 0.3s ease;
    /* انتقالات ناعمة */
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    /* التأكد من أن النص أبيض */
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    border-radius: 25px;
    /* إضافة زوايا دائرية لتبدو أكثر نعومة */
    transition: all 0.3s ease;
    height: 50px;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1.5rem;
    height: 50px;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Hover Effects */
.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
    background-color: #fff;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    transform: scale(1.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}


/*Top Bar*/
/* Top Bar Styles */
.topbar {
    background-color: var(--primary-color2);
    /* Using primary color2 for the background */
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    /* Light border */
}

.topbar span {
    color: #FFFFFF;
}

.topbar-info {
    padding-left: 0;
    list-style-type: none;
}

.topbar-info li {
    margin: 5px 0;
}

.topbar-info a {
    color: #fff;
    /* White text color for better visibility */
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.topbar-info i {
    margin-right: 8px;
    /* Space between the icon and the text */
    color: #fff;
    /* White icon color to contrast with background */
}

/* Social Media Icon Styles */
.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: color 0.3s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon-link:hover {
    background: var(--secondary-color);
    /* Change to secondary color on hover */
    color: #FFFFFF;
}

.icon-link-facebook {
    background: #1877f2;
    /* Facebook blue */
    color: #FFFFFF;

}

.icon-link-linkedin {
    background: #0e76a8;
    /* LinkedIn blue */
    color: #FFFFFF;

}

.icon-link-whatsapp {
    background: #25d366;
    /* WhatsApp green */
    color: #FFFFFF;

}



/* Navbar Styling */
.custom-navbar {
    background-color: var(--background-color2);
    padding: 0;
    margin-top: -1px;
}


.navbar-title {
    color: var(--button-primary-text);
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-nav .nav-item .nav-link {
    margin: 0;
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;

}

.nav-link {
    color: var(--text-color);
    font-weight: 500;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #FFFFFF;
    background-color: var(--secondary-color);
}




.search-form {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}




.navbar-toggler {
    color: var(--text-color);
}




/* Footer Styling */
.custom-footer {
    background-image: url(../img/footer-background.png);
    background-size: cover;
    background-position: center;
    background-position: center;
    color: var(--button-primary-text);
    padding: 60px 0 0;
    color: #FFFFFF;
}

.news-subscription {
    padding-left: 20px;
    border-left: 2px solid var(--primary-color);
}

.news-subscription .text h5 {
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 5px;
}

.news-subscription .text p {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.footer-text {
    color: var(--button-primary-text);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-link {
    color: var(--button-primary-text);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
    transition: color 0.3s ease;
}


.footer-bottom {
    background: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
}


.latest-news {
    background-color: #FFFFFF;
}



.main-news-card {
    position: relative;
    height: 100%;
    border-radius: 12px;
    background: var(--content-bg-color);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-right: 100px;
}

.main-news-card img {
    transition: transform 0.3s ease-in-out;
    height: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.main-post-content {
    max-width: 300px;
    padding: 20px;
    background: #FFFFFF;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 12px;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 2px 2px 10px 0px rgba(192, 187, 187, 1);

}

.main-post-content h2 {
    font-size: 22px;
    position: relative;
    padding-bottom: 20px;
    color: var(--text-color);
    margin-bottom: 15px;
}

.main-post-content h2::after {
    content: "";
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 7px;
    right: 0;
    width: 90%;
}

.main-post-content p {
    font-size: 16px;
    color: var(--muted-text-color);
}

.main-post-content .date {
    color: var(--muted-text-color);
    font-size: 12px;
    display: flex;
    align-items: center;
    grid-gap: 8px;

}




.main-news-card:hover .overlay {
    background: rgba(0, 0, 0, 0.8);
}



.main-news-description {
    font-size: 16px;
    line-height: 1.5;
}

.btn-read-more {
    background-color: var(--secondary-color);
    color: var(--button-primary-text);
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-read-more:hover {
    background-color: var(--hover-color);
}

.latest-news .small-news-card {
    padding: 0 !important;

}

.body-post {
    padding: 15px;
    width: 100%;
}

.date-post {
    font-size: 12px;
    text-align: start;
    color: var(--muted-text-color);
}

.small-news-title {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
}

.small-news-description {
    font-size: 14px;
    color: var(--muted-text-color);
}

.small-news-link {
    font-size: 14px;
    color: var(--secondary-color);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.small-news-link:hover {
    color: var(--hover-color);
}

.prisoner-stats {
    background: linear-gradient(to bottom,
            #ffffff 60%,
            rgba(153, 121, 84, 0.2) 40%);
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    position: relative;
    width: max-content;
    margin: auto;
    margin-bottom: 70px;

}

.section-title::before,
.section-title::after {
    content: "";
    height: 3px;
    left: -75px;
    width: 65px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.section-title::before {
    right: -75px;
    left: unset;
}

.prisoner-stats .stat-card {
    background-color: var(--content-bg-color);
    box-shadow: 2px 2px 10px 0px rgba(153, 121, 84, 0.3);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}



.prisoner-stats .stat-number {
    font-size: 42px;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 10px;
}

.prisoner-stats .stat-title {
    font-size: 32px;
    color: var(--text-color);
}

.prisoner-stats .prisoner-stats .btn {
    font-size: 20px;
    padding: 6px 40px;
}

/* Start Hero */

.hero-section {
    padding-bottom: 40px;
}

.hero-section .btn {
    margin: 0;
}

.sub-title {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 1.5;
}

h1.title span {
    color: var(--primary-color);

}

h1.title {
    font-size: 64px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

.content-hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.content-hero p {
    font-size: 20px;
    color: var(--muted-text-color);

}

.content-hero .btn {
    min-width: 180px;
    font-size: 16px;
}


/*Our Services*/
.our-services {
    background-image: url(../img/ourServices-background.png);
    background-repeat: no-repeat;
    padding: 80px 0 200px;

}

.our-services .title {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 60px;
    color: #FFFFFF;
}

.our-services .title span {
    color: var(--primary-color);

}

.our-services-bottom {
    margin-top: -120px;
    padding-bottom: 80px;
}

.our-services-bottom .card {
    text-align: center;
    padding: 50px 20px 20px;
    box-shadow: 0px 10px 15px 0px rgba(8, 14, 28, 0.06);
    background: #FFFFFF;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
    height: 100%;
}

.our-services-bottom .card .icon-card {
    background: var(--primary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #FFFFFF;
}

.our-services-bottom .card .title-card {
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--text-color);

}

.our-services-bottom .card .description-card {
    font-size: 18px;
    color: var(--muted-text-color);
    margin: 0;

}

.mben-5 {
    margin-bottom: 80px;
}

.why-chosse-us {
    padding: 80px 0;
    background: #f6f9ff;
}

.head-section .title {
    font-size: 42px;
    margin: 10px 0 20px;
}

.head-section .title span {
    color: var(--primary-color);
}

.head-section p {
    color: var(--text-color);
    font-size: 18px;
}

/* Progress Card Styling */
.progress-card {
    display: flex;
    align-items: center;
    gap: 20px;

}


/* Content Styling */
.content-prog h4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.content-prog p {
    font-size: 14px;
    color: var(--muted-text-color);
    margin: 0;
    line-height: 1.4;
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"] {
    --size: 10rem;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--primary-color) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-size: calc(var(--size) / 5);
    color: var(--primary-color);
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

.content-prog {
    width: 60%;
}

.our-partners {
    background-image: url(../img/our-partner-bakground.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

/* Start About us section */
.about-us {
    padding: 80px 0;
    background: linear-gradient(0deg, rgb(244, 248, 251) 0%, rgb(255, 255, 255) 100%)
}

.about-us .icon-style-left {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    transition: all 0.3s ease;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.about-us .icon-style-left h6 {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.about-us .icon-style-left p {
    font-size: 16px;
    color: var(--muted-text-color);
    margin: 0;
}

.about-us .icon-style-left .icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: var(--background-color2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-us .icon-style-left .text-wrap {
    width: 80%;
}


.contact-section {
    padding: 80px 0;
    background-image: url(../img/contact-us-background.png);
    background-size: cover;
}

.contact-form input,
.contact-form select {
    height: 50px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    background-color: var(--input-bg);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: none;
    transition: all 0.3s ease;
}



.contact-card {
    background-color: #ffffff;
    transition: all 0.3s ease;
    padding: 10px 15px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 1px solid #eee;
    max-width: 270px;

}


.icon-wrapper {
    width: 60px;
    height: 60px;
    background-color: var(--secondary-color);
    /* لون أساسي للأيقونة */
    color: #ffffff;
    /* لون الأيقونة */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 24px;
}

.contact-card h5 {
    font-size: 18px;
    color: var(--text-color);
}

.contact-card p {
    font-size: 16px;
    color: var(--muted-text-color);
}


.counter-section {
    background-image: url(../img/Statistics.png);
    background-size: cover;

    padding: 60px 0;
}

.counter-section .counter-box {
    display: flex;
    align-items: center;
    grid-gap: 20px;

}

.counter-section .icon-wrapper {
    background-color: var(--secondary-color);
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    font-size: 30px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.counter-section .counter-number {
    font-size: 42px;
    font-family: cursive;
    margin: 0;
}

.counter-section .counter-box p {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
}

.process-section {
    background: #ffffff;
    position: relative;
    padding: 100px 0;
}

.step-circle {
    position: absolute;
    left: -25px;
    top: -25px;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 18px;
}

.process-icon i {
    font-size: 36px;
    color: var(--secondary-color);
}

.process-card {
    background: #fff;
    box-shadow: 0px 10px 15px 0px rgba(8, 14, 28, 0.06);
    padding: 20px;
    border: 1px solid #eee;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    height: 100%;
}


.process-card h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--text-color);
}

.process-card p {
    font-size: 16px;
    color: var(--muted-text-color);
    line-height: 1.6;
}

.head-section.text-center .sub-title {
    width: max-content;
    margin: 0 auto;
}


.head-section.text-center {
    margin-bottom: 100px;
}

.process-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, 0);
    -webkit-transform: translate(-45%, 0);
    -moz-transform: translate(-45%, 0);
    -ms-transform: translate(-45%, 0);
    -o-transform: translate(-45%, 0);
}

.our-services .head-section .title span {
    color: var(--secondary-color);
}

@media(max-width: 768px) {
    .topbar {
        display: none;
    }

    .hero-section {
        padding: 40px 0;
    }

    h1.title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .content-hero p {
        font-size: 16px;
    }

    .our-partners {

        background-position: center;
    }

    .our-partners .d-flex {
        justify-content: center;
        margin-bottom: 40px;
    }

    .our-partners .d-flex:last-child {
        margin-bottom: 0;
    }

    .img-character {
        margin-bottom: 50px;
    }

    .head-section p {
        font-size: 16px;
    }

    .head-section .title {
        font-size: 40px;
        margin: 10px 0;
    }

    .our-services-bottom .card {

        position: relative;
        min-height: 250px;
        margin-bottom: 70px;
        height: auto;
    }

    .why-chosse-us {
        padding-top: 0;
    }

    .head-section .title br {
        display: none;
    }

    .pe-4 {
        padding-right: 10px !important;
    }

    .progress-card {
        margin-bottom: 20px;
    }

    .content-prog {
        width: 70%;
    }

    .counter-section {

        padding: 60px 40px;
    }

    .process-card {

        height: auto;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .ps-4 {
        padding-left: 10px !important;
    }

    .contact-form {
        margin-top: 40px;
    }

    .contact-info-section {
        flex-flow: column-reverse;
    }

    footer .logo {
        margin-bottom: 20px;
    }

    .process-line {
        display: none;
    }
}